.signup-container {
    font-family: 'Parisienne', cursive;
    color: #757575;
  }

  #errmsg {
    font-weight: 900;
  }

  @media screen and (max-width: 450px)
{
  .signup-container {
    width: 100%;
    position: absolute;
    left: 2%;
  }
}