.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /* background-color: #f4f4f4; */
  height: 150px;
  padding: 20px;
  color: #222;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#fileInput
{
    height:0px;
    display:none
}

#previewimage
{
    height:300px;
    width:300px;
}

/* #player {
    border-radius: 50%;
} */

#canvas {
    visibility: hidden;
}

.Camera {
  font-family: 'Parisienne', cursive;
  color: #757575;
}

#speech-question {
  color: #222;
}

#speech-yes {
  color: #63a35c;
}

#speech-no {
  color: #FAA050;
}

.card-camera {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-camera-img-left {
  background-color: #eeeeee;
}

@media screen and (max-width: 450px)
{
  .card-camera {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(185, 145, 145, 0.1);
    overflow: hidden;
    position: absolute;
    top: -150px;
    height: 250px;
  }

  .card-camera-img-left {
    background-color: #eeeeee;
  }

  .card-camera-title {
    font-size: 18pt;
    position: relative;
    left: 0;
    top:20px;
  }

  #player {
    width: 200px;
    position: relative;
    left: 0;
    top: -30px;
  }

  #capture-button {
    font-size: 12pt;
    border: 2px solid #bdbdbd;
    background-color: #f4f4f4;
  }

  #upload-image-button {
    font-size: 12pt;
    border: 2px solid #bdbdbd;
    background-color: #f4f4f4;
    position: relative;
    left: 0;
    top: -20px;
  }

  .camera-instructions {
    position: absolute;
    left: -20px;
    top: 420px;
  }
}