.goodfood {
    color: #757575;
    font-weight: bolder;
    font-size: 50pt;
    letter-spacing: 5px
}

.food-image {
    border-radius: 50%;
    width: 10%;
    max-width: 50%;
    height: auto;
}

.food-image:hover {
    /* animation: shake 0.5s;  */
    transform: scale(1.1);
    cursor: pointer;
}