.card {
    overflow: hidden;
    margin-left:-2rem;
    width:95%;
}

/* .card:hover {
    overflow-y: scroll;
} */

.card-header {
    background-color: #648880;
}

@media screen and (max-width: 450px) {
    .card {
        position: relative;
        /* top: 0; */
        left: 50px;
    }
}