/* css Grid layout */



/* affecting the root tag in html */
    /* css variables setting colors */
    /* syntax:  --"valueName": "value" */
    /* This way, if you change the values below, it will change all components styled to that value */
    /* Conditional rendering based on page? */
/* :root {
    --main-color: #5ea3d0;
    --secondary-color: white;
    --main-text-color: #3e5869;
    --secondary-text-color: #b0c7d6;
    --send-message-form: #F5F5F5;
} */

/* Secondary color pallete  */
.chat {
    /* :root { */
    --main-color: #fd9ab6;
    --secondary-color: #fff4e6;
    --main-text-color: #11d7d8;
    --secondary-text-color: pink;
    --send-message-form: white;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: red; 
}

#chat {
    height: 100%;
}

/* Setting the app div into a grid */
.chat {
    /* The Grid */
    display: grid;
    height: 100%;
    /* Colm and row definition  repeat (6-times, 1 fraction-unit (equally wide): 6 equally spaced columns dynamic in nature depending on contents being renderred */
    grid-template-columns: repeat(6, 1fr);
    /* 5 equally spaced rows followed by a 60px row (so the input row stays a constant 60px with all others are dynamic */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    /* Setting the grid template each letter representing a cell creating row/column */
    /* Where the lettes representing the cells are defined below */
    grid-template-areas: 
        "m m m m m r"
        "m m m m m r"
        "m m m m m r"
        "m m m m m r"
        "m m m m m r"
        "s s s s s n";
}

/* Via className */
/* NewRoomForm being rendered in the grid area marked (n) */
.new-room-form {
    grid-area: n;
}

/* RoomList being rendered in the grid area marked (r) */
.rooms-list {
    grid-area: r;
}

/* MessageList being rendered in the grid area marked (m) */
.message-list {
    grid-area: m;
}

/* SendMessageForm being rendered in the grid area marked (s) */
.send-message-form {
    grid-area: s;
}

/* REST OF CSS */
.rooms-list {
    box-sizing: border-box;
    padding: 10px;
    /* Using css variables set above */
    background-color: var(--main-color);
    overflow: scroll;
    height: 100%;
}

.rooms-list ul {
    list-style-type: none;    
    padding: 0;
    overflow: scoll;
}

.rooms-list li {
    margin: 10px 0;
}

.rooms-list h3 {
    margin: 5px 0;
    color: var(--secondary-color);
}

.rooms-list .room a {
    color: var(--secondary-text-color);
    font-weight: 600;
    text-decoration: none;
    
 }

.rooms-list .room.active a {
    color: var(--secondary-color);
}

.new-room-form {
    padding: 0 5px;
    background: var(--secondary-color);
    color: var(--main-text-color);
}

.new-room-form form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-room-form input {
    width: 135px;
    background: var(--secondary-color);
}

.new-room-form button {
    background: var(--secondary-color);
    color: var(--main-text-color);
    border: 0;
} 

.new-room-form input::placeholder {
    color: var(--main-text-color);
    font-weight: 200;
}

.new-room-form input:focus {
    outline-width: 0;
}

.new-room-form input {
    border: 0;
}

.new-room-form button {
    border: 0;
}

.message {
    margin: 15px 0;
}

.message .message-username {
    font-size: 11px;
    color: var(--main-text-color);
    opacity: 0.9;
    margin-bottom: 6px;
}
.message .message-text {
    background: var(--main-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 8px;
}

.message-list {
    box-sizing: border-box;
    padding-left: 6px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background: var(--secondary-color);
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
}

.send-message-form {
    background: var(--send-message-form);
    display: flex;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;

}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: var(--main-text-color);
}

.help-text {
    position: absolute;
    top: 10px;
}
