/* .container
{
    width: 100%;
    float:left;
    margin-left:-2%;
    font-size: 20px;
} */

.productivejumbo{
    /* background: linear-gradient(-45deg,#fff59d,#a5d6a7,#ffee58,#66bb6a);
    background-color: #fff59d; */
    /* width:200%;
    height:40vh; */
    /* margin-left:-20px; */
}

.card {
    /* min-width: 30rem; */
    max-width: 130rem; 
  }

  /* .Newscard
  {
    min-width: 30rem;
    max-width: 30rem; 
  } */

  .input-group-btn
  {
      z-index:2;
      margin-left: -1px;
      display: flex;
    align-items: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .input-group .form-control {
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    width: 50%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

input {
    overflow: visible;
    cursor:text;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
    width:70%;
}

/* group-btn>.btn {
    position: relative;
} */

.btn-secondary {
    color: #fff;
    background-color:#868e96;
    border-color: #868e96;
    margin-left:-2px;
    padding: .375rem .75rem;
    line-height: 1.5;
    height: 50px;
    font-weight: bolder;
}

/* button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    font: 400 13.3333px Arial;
} */

.title {
    color: #222;
    font-size: 18px;
    font-weight: bolder;
}


.productive-icons {
    font-size: 3rem;
    max-width: 100%;
    height: auto;
}

.productive-icons:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.icon-stock {
    color: #63a35c;
}

.icon-newspaper {
    color: #1e87f0;
}

.icon-podcast {
    color: #FAA050;
}

.icon-music {
    color: #f0506e;
}

.icon-video {
    color: #795DA7;
}

.icon-chat {
    color: #ffd600;
}

.companydetails{
    margin-top: 2.5em;
    text-align: left;
    margin-left: -7rem;
}


.stocklist
{
    text-align: left;
    font-weight: bold;
}

/* .week52high
{
    margin-left: -7rem;
}

.week52low
{
    margin-left: -8rem;
}

.exchange
{
    margin-left: -3rem;
} */

.card-header
{
    background: grey;
     background: linear-gradient(to right, #f6f1d3, #648880 85%, #293f50);
    color: #fff;
    font-weight: bold

}

#card-stock
{
    color: #fff;
}

.title
{
    color: #fff;
    font-weight: bolder;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 120px;
  }

  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  @media screen and (max-width:1278px)
  {
    body {
     background-color: black;
    }
    .stocksrow
    {
        margin-left: 180px;
    }

    

    input
    {
        width:10%;
    }
  
    .companydetails{
        margin-top: 2.5em;
        text-align: left;
        margin-left: -17rem;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #card-stock
    {
        margin-left: -17rem;
    }

    .input-group .form-control {
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
        width: 50%;
        margin-bottom: 0;
        margin-left: -6rem;
    }
    
    .col-sm-11
    {
        margin-left: 7.6rem;
        width: 95%;
    }
}

@media screen and (max-width:1280px)
  {
    body {
     background-color: black;
    }
    .stocksrow
    {
        margin-left: 180px;
    }

    

    input
    {
        width:10%;
    }
  
    .companydetails{
        margin-top: 2.5em;
        text-align: left;
        margin-left: -17rem;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #card-stock
    {
        margin-left: -17rem;
    }

    .input-group .form-control {
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
        width: 50%;
        margin-bottom: 0;
        margin-left: -6rem;
    }
    
    .col-sm-11
    {
        margin-left: 7.6rem;
        width: 95%;
    }
}
@media screen and (max-width:1024px)
  {
    body {
     background-color: black;
    }
    .stocksrow
    {
        margin-left: 180px;
    }

    

    input
    {
        width:10%;
    }
  
    .companydetails{
        margin-top: 2.5em;
        text-align: left;
        margin-left: -17rem;
    }

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #card-stock
    {
        margin-left: -17rem;
    }

    .input-group .form-control {
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
        width: 50%;
        margin-bottom: 0;
        margin-left: -10rem;
    }
    
    .col-sm-11
    {
        margin-left: 7.6rem;
        width: 95%;
    }
}

@media screen and (max-width: 768px)
{
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

   
    
    .stocksrow
    {
        margin-left: 180px;
    }

    .col-sm-11
    {
        flex: 0 0 100%;
        max-width: 86%;
    }

    .input-group .form-control {
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
        width: 50%;
        margin-bottom: 0;
        margin-left: -14rem;
    }
    
    .col-sm-11
    {
        margin-left: 7.6rem;
        width: 95%;
    }
}

@media screen and (max-width: 1110px)
{
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #card-stock
    {
        margin-left: -17rem;
    }

   .col-sm-11
    {
        margin-left: 8rem;
        width: 100%;
    }
}

@media screen and (max-width: 992px)
{
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    #card-stock
    {
        margin-left: -17rem;
    }

   .col-sm-11
    {
        margin-left: 8rem;
        width: 100%;
    }

    
}

@media screen and (max-width: 978px)
{
    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

   
   .col-sm-11
    {
        margin-left: 7.6rem;
        width: 51%;
    }
    

    .col-md-8
    {
        margin-left: 1.6rem;
        width: 100%;
    }

    .stocksrow
    {
        margin-left: 180px;
    }

    .stocksearchnbtncontainer
    {
        margin-left: 1.6rem;
        width: 50%;
    }
}

@media screen and (max-width: 375px)
{
    .sidebar {
        padding-top: 100px;
        width:70px;
    }
    .sidebar a {font-size: 18px;}

    .col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }


    .col-sm-11
    {
        flex: 0 0 100%;
        max-width: 96%;
        margin-left:2.6rem;
    }

    .input-group .form-control {
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
        width: 50%;
        margin-bottom: 0;
        margin-left: -14rem;
    }
    
    
}