.emotionsnavbar {
    background-color: white;
    align-content: center;
    /* margin-left: 50%; */
}

.icon-text
{
    margin-top:-5px;
    margin-bottom: -1.7px;
    font-size: 12pt;
}

.mood-icon {
    font-size: 1.5rem;
}

.ihungry {
    color: #ffd600;
}

.ihungry:hover {
    /* animation: shake 0.5s;  */
    transform: scale(1.2);
    cursor: pointer;
    color: #ffd600;
}

.betta,
.ilaugh {
    color: #63a35c;
}

.ilaugh:hover {
    /* animation: shake 0.5s;  */
    transform: scale(1.2);
    cursor: pointer;
    color: #63a35c;
}

.swings,
.ismile {
    color: #1e87f0;
}

.ismile:hover {
    /* animation: shake 0.5s;  */
    transform: scale(1.2);
    cursor: pointer;
    color: #1e87f0;
}

.aka,
.ineutral {
    color: #FAA050;
}

.ineutral:hover {
    /* animation: shake 0.5s;  */
    transform: scale(1.2);
    cursor: pointer;
    color: #FAA050;
}

.mood,
.isad {
    color: #795DA7;
}

.isad:hover {
    /* animation: shake 0.5s;  */
    transform: scale(1.2);
    cursor: pointer;
    color: #795DA7;
}

.mo,
.iangry {
    color: #f0506e;
}

.iangry:hover {
    /* animation: shake 0.5s;  */
    transform: scale(1.2);
    cursor: pointer;
    color: #f0506e;
}
